{
	frankenphp
	order php_server before file_server
}

   mercure {
        publisher_jwt !ChangeThisMercureHubJWTSecretKey!
        subscriber_jwt !ChangeThisMercureHubJWTSecretKey!
        cors_origins *
        publish_origins *
        demo
        anonymous
        subscriptions
    }

# The domain name of your server
localhost {


	# Set the webroot to the public/ dir
	root * public/
	# Enable compression (optional)
	encode zstd gzip
	# Execute PHP files in the current directory and serve assets
	php_server {
		# Required for the public/storage/ dir
		resolve_root_symlink
	}
}
